body {
  background: linear-gradient(-45deg, #000000, #686868, #000000, #000000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding: 200px;
}

@keyframes gradient {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

::-webkit-scrollbar {
    display: none;
}
